# WDNN - Hyperparameter Tuning

# Imports

In [0]:
# Standard imports
import numpy as np 
import pandas as pd 
import os 

# For loading data from Drive
from google.colab import drive

# Plotting 
import matplotlib.pyplot as plt 
from matplotlib import style
style.use('ggplot')
%matplotlib inline 
from seaborn import distplot, heatmap

# Scikit-Learn imports
from sklearn.model_selection import RandomizedSearchCV, train_test_split 
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler, MaxAbsScaler, FunctionTransformer
from sklearn.pipeline import Pipeline
from sklearn.base import BaseEstimator, TransformerMixin

# Tensorflow and Keras
from tensorflow import keras

# Loading Data

In [2]:
# Mount Google Drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [0]:
# Defining filepaths
ROOT_DIR = "/content/drive/My Drive"
FYP_DIR = "EE 16-17 FYP DL Energy Theft Detection"
DATA_DIR = "Data/full-processing-data"
FILE_NAME = "outliersRemoved.csv"

# Create filepath
FILE_PATH = os.path.join(ROOT_DIR, FYP_DIR, DATA_DIR, FILE_NAME)

In [4]:
# Print the filepath for checking
print(FILE_PATH)

/content/drive/My Drive/EE 16-17 FYP DL Energy Theft Detection/Data/full-processing-data/outliersRemoved.csv

In [0]:
df = pd.read_csv(FILE_PATH)

In [6]:
# Did it work?
df.head()

                            CONS_NO  FLAG  ...  2016-10-30  2016-10-31
0  0387DD8A07E07FDA6271170F86AD9151     1  ...    9.160000    6.740000
1  01D6177B5D4FFE0CABA9EF17DAFC2B84     1  ...    0.000000    0.000000
2  4B75AC4F2D8434CFF62DB64D0BB43103     1  ...   13.483126   13.483126
3  B32AC8CC6D5D805AC053557AB05F5343     1  ...   14.460000   11.720000
4  EDFC78B07BA2908B3395C4EB2304665E     1  ...    9.860000    8.720000

[5 rows x 1036 columns]

# Extracting features and labels

In [0]:
features, labels = df.iloc[:, 2:], df.iloc[:, 1]

# Train-Test Split

In [0]:
X_train, X_test, y_train, y_test = train_test_split(features, labels, test_size=0.2, 
                                                    random_state=0, stratify=labels.values)

In [9]:
# Checking shapes of training and test data
print("X_train", X_train.shape)
print("X_test", X_test.shape)
print("y_train", y_train.shape)
print("y_test", y_test.shape)

X_train (33897, 1034)
X_test (8475, 1034)
y_train (33897,)
y_test (8475,)

In [35]:
# Checking the types of the features and labels
print("X_train", type(X_train))
print("y_train", type(X_train))
print("X_test", type(X_train))
print("y_test", type(X_train))

X_train <class 'pandas.core.frame.DataFrame'>
y_train <class 'pandas.core.frame.DataFrame'>
X_test <class 'pandas.core.frame.DataFrame'>
y_test <class 'pandas.core.frame.DataFrame'>

# Pipeline 1 - 1D Data

The pipeline should
1. **`row_to_col`**: Transpose all features arrays so that rows (consumers) become columns.
2. **`scaler`**: Apply a user-specified scaling strategy to the transposed data on a column-wise (consumer-wise) basis.
3. **`col_to_row`**: Retranspose the scaled data so that consumers are once again along the rows axis.

In [0]:
pipeline_1D = Pipeline([
             # Convert all matrices to numpy array for faster processing
             ('to_numpy', FunctionTransformer(pd.DataFrame.to_numpy)),

             # Transpose once so that consumers are now along column axis
             ('row_to_col', FunctionTransformer(np.transpose)), 

             # Use scikit-learn scaler of your choice to scale kWhs on a consumer basis
             ('scaler', StandardScaler()),

             # Retranspose so that consumers are once again along the rows axis
             ('col_to_row', FunctionTransformer(np.transpose)),
])

# Pipeline 2 - 2D Data

Transform standard scaler data from the `pipeline_1D` into 2D data where each consumer's readings are `(148, 7, 1)`-dimensional matrix.

In [0]:
class ZeroPadder(BaseEstimator, TransformerMixin):
  def __init__(self):
    """Initialise some attributes to be used for padding with zeros"""
    self.days_per_consumer = 0
    self.days_per_week = 7
    self.weeks_per_consumer = 0
    self.padding = 0
    self.pad_value = 0.0

  def fit(self, X, y=None):
    """Update the attributes based on X""" 
    # Find the number of days of kWh entries for each consumer
    self.days_per_consumer = X.shape[-1]

    # Find the number of weeks in these days rounded to the nearest whole number 
    self.weeks_per_consumer = np.ceil(self.days_per_consumer / self.days_per_week).astype('uint8')

    # Number of zeros for padding = number of extra days required to turn days_per_consumer
    # into a number that is equivalent to a whole number of weeks
    self.padding = self.weeks_per_consumer * self.days_per_week - self.days_per_consumer

    # Once parameters have been fit, just return
    return self

  def transform(self, X, y=None):
    """Transform the data according to the specified attributes"""
    # Add the right number of zeroes to the end of each row in the numpy array `X`
    # return np.apply_along_axis(np.pad(pad_width=(0, self.padding), 
    #                                   mode='constant', 
    #                                   constant_values=0.0),
    #                             axis=1)
    X.apply()

In [0]:
def daily_to_weekly(arr):
  """Simple function that converts daily kWh numpy arrays to weekly matrices"""
  # Find the number of kWh entries per consumer
  days_per_consumer = arr.length[-1]

  # This is constant
  days_per_week = 7

  # Round to the nearest number of whole weeks > number of days
  weeks_per_consumer = np.ceil(days_per_consumer / days_per_week).astype('uint8')

  # CHANNEL is always 1 - must provide this for CNN
  channels = 1
  return arr.reshape((weeks_per_consumer, days_per_weeks, channels))

In [0]:
pipeline_2D = Pipeline([
          # Pad each row with zeroes for reshaping 
          ('ZeroPadder', ZeroPadder()),

          # # Reshape to a weekly data that can be fed to a CNN
          # ('Reshaper_2D', FunctionTransformer(daily_to_weekly))
])

In [0]:
X_train_2D = pipeline_2D.fit_transform(X_train_1D), y_train.copy()